* {
    box-sizing: border-box;
}

#container {
    padding-top: 96px;
}

.spacing {
    padding: 20px 0px;
}

/* Navbar */
nav {
    padding: 32px 24px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    height: 32px;
}

.logo p {
    padding-left: 5px;
}

.logo span{
    font-weight: bold;
}

.links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links p {
    padding: 0px 10px;
}

.links_mobile {
    display: none;
}

@media only screen and (max-width: 480px) {
    .links {
        display: none;
    }

    .links_mobile {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .logo {
        width: 25%;
    }

    .logo p {
        display: none;
    }
}

/* Banner */
#banner {
    background-color: #C0C0C0;
    display: flex;
}

.banner_image {
    width: 100%;
    padding: 32px 24px;
}
.banner_image img{
    width: 100%;
}

.banner_message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}

.banner_message .message1{
    font-size: 70px;
    font-weight: bold;
}

.banner_message .message2{
    font-size: 35px;
}

.banner_message button{
    width: 430px;
    height: 55px;
    background-color: rgb(53, 49, 49);
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 480px) {
    #banner {
        background-color: #C0C0C0;
        display: block;
        padding: 32px 0px 32px 0px;
    }

    .banner_image {
        padding: 0px;
    }

    .banner_image img {
        width: 100%;
    }

    .banner_message .message1{
        font-size: 40px;
        font-weight: bold;
    }

    .banner_message .message2{
        font-size: 25px;
    }

    .banner_message button{
        width: 360px;
        height: 55px;
        background-color: rgb(53, 49, 49);
        color: white;
        font-size: 20px;
    }
}

/* Information */
#information {
    display: flex;
}

.information_container {
    padding: 32px 24px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.information_container2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(223, 222, 222);
}

.information_banner {
    padding-bottom: 32px;
}

.information_banner img {
    width: 100%;
}

.information_quote {
    font-size: 50px;
    font-weight: bold;
}

.information_subquote {
    font-size: 18px;
    color: gray;
    padding: 24px 0px;
}

.information_quoteautor {
    padding-bottom: 32px;
}

.information_wrap {
    display: flex;
    padding: 32px 24px;
}

.information_border {
    border-top: 5px double rgb(223, 222, 222);
}

.information_images {
    width: 31%;
}

.information_images img {
    width: 100%;
}

.information_desc {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 34px;
    line-height: initial;
}

.information_desc .title{
    font-size: 34px;
    font-weight: bold;
}

.information_desc .details{
    font-size: 25px;
    padding-top: 5px;
}

.information_desc a{
    font-size: 18px;
    padding-top: 15px;
    text-decoration: none;
}

.information_wrap:hover {
    background-color: #C0C0C0;
}

@media only screen and (max-width: 480px) {
    #information {
        padding: 16px 16px 32px 16px;
    }

    .information_container {
        display: none;
    }

    .information_container2 {
        display: block;
        width: 100%;
        border-left: none;
    }

    .information_wrap {
        display: block;
        padding: 0px;
    }

    .information_images {
        width: 100%;
    }

    .information_images img {
        width: 100%;
        height: 230px;
    }

    .information_desc {
        width: 100%;
        padding: 15px 0px 0px 16px;
        line-height: initial;
    }
    
    .information_desc .title{
        font-size: 25px;
        font-weight: bold;
    }
    
    .information_desc .details{
        font-size: 20px;
        padding-top: 5px;
    }
    
    .information_desc a{
        font-size: 18px;
        padding-top: 15px;
        text-decoration: none;
    }
    
    .information_wrap:hover {
        background-color: transparent;
    }

    .information_border {
        border: none;
    }
}

/* Course */

#course {
    padding: 32px 72px;
    background-color: #C0C0C0;
}

#course .course_start {
    font-size: 50px;
    font-weight: bold;
    padding: 32px 0px;
    text-align: center;
}

.course_padding {
    padding-bottom: 16px;
}

.course_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course_content {
    height: auto;
    width: 32%;
    padding: 16px 16px;
}

.course_content img {
    width: 100%;
}

.course_wrap {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 500px;
}

.course_detail {
    padding: 32px 0px 24px 16px;
}

.course_title {
    font-size: 35px;
    font-weight: bold;
}

.course_description {
    font-size: 23px;
    line-height: 35px;
    color: gray;
}

@media only screen and (max-width: 480px) {
    #course {
        background-color: #fff;
        padding: 32px 0px 0px 0px;
    }

    #course .course_start {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        padding: 0px 0px 16px 0px;
    }

    .course_container {
        display: block;
        width: 100%;
    }

    .course_content {
        width: 100%;
        padding: 0px 24px;
    }

    .course_wrap {
        height: auto;
        padding-bottom: 8px;
    }

    .course_detail {
        padding: 0px;
    }

    .course_wrap img {
        display: none;
    }

    .course_title {
        background-color: #C0C0C0;
        padding: 16px 0px 24px 16px;
        font-size: 28px;
    }

    .course_description {
        display: none;
    }
}

/* Thesis */

.exhibit {
    font-size: 50px;
    font-weight: bold;
    padding: 32px 0px;
    text-align: center;
}

#thesis .thesis_wrap {
    display: flex;
}

#thesis .thesis_video {
    padding: 0px 24px;
    width: 60%;
}

#thesis .thesis_video video{
    width: 100%;
}

#thesis .video_title {
    padding-top: 24px;
    font-size: 24px;
    font-weight: bold;
}

#thesis .video_description {
    padding: 8px 0px 32px 0px;
    font-size: 18px;
    line-height: 25px;
}

#thesis .thesis_content {
    padding-right: 10px;
    width: 40%;
}

.thesis_content .content_wrap {
    display: flex;
}

.content_wrap .content_image {
    width: 35%;
    height: auto;
    padding: 16px;
}

.content_wrap .content_image img {
    width: 100%;
}

.content_wrap .content_description {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_description .title {
    font-size: 35px;
    font-weight: bold;
}

.content_description .description {
    font-size: 25px;
    color: gray;
    padding-top: 10px;
    line-height: 30px;
}

.thesis_content :hover  {
    background-color: #C0C0C0;
}   

@media only screen and (max-width: 480px) {
    #thesis {
        padding-bottom: 24px;
    }

    #thesis .thesis_video {
        display: block;
        width: 100%;
        padding: 0px;
    }

    .thesis_content {
        display: none;
    }

    .thesis_video video {
        width: 100%;
    }

    .thesis_video p {
        display: none;
    }
}

footer {
    border-top: 2px solid rgb(223, 222, 222);
    padding: 16px 0px 36px 24px;
    width: 100%;
    display: flex;
}

.copyright {
    width: 100%;
}

.terms {
    display: flex;

}

.terms p {
    margin-right: 20px;
}

@media only screen and (max-width: 480px) {
    footer {
        border-top: none;
    }
}